.#{$global} {
    &-carousel {
        width: 100%;
        position: relative;

        &__indicators {
            li {
                width: 18px;
                height: 18px;
                margin: 2px 5px;
                text-indent: -9999px;
                transition: all .5s ease;
                border-radius: 100%;

                &.active {
                    width: 20px;
                    height: 20px;
                    margin: 1px 5px;
                }
            }
        }

        &__carousel-inner {
            width: 100%;
            // height: 100%;

            >.item {
                width: 100%;
                // height: 100%;
                z-index: 1;

                &--min-height {
                    min-height: 375px !important;
                }

                &:after {
                    content: '';
                    background-color: black(.1);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }
            }
        }

        &__carousel-caption {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
            transform: translate(-50%, -50%);
            padding: 30px;
            z-index: 4;
            text-align: left;
            @include text-shadow(0 0 0);
            >h1 {
                color: #fff;
            }
            &>p {
                line-height: 1.8;
            }
            .theme__title {
                @include font-size(1.8);
                line-height: 1;
                display: block;
                small {
                    font-size: 65%;
                    color: white(.75);
                }
            }
        }

        &__control {
            width: 100%;
            position: absolute;
            z-index: 4;
            top: 50%;
            transform: translateY(-50%);

            .carousel-control {
                background-image: none;
                background-color: black(.35);
                width: 30px;
                height: 30px;
                padding: 2px 10px 10px 10px;
                text-shadow: 0 0 0;
                transition: all .5s ease;
                color: $color-brand-secondary;
                @include border-radius(4px);
                opacity: 1;
                i {
                    @include font-size(2);
                }
            }

            .left {
                left: 30px;
            }

            .right {
                right: 30px;
            }
        }
    }
}
