.card {
    &-package {
        background-color: $color-white;
        @include border-radius(4px);
        overflow: hidden;
        @include border-radius(4px);
        @include box-shadow(0px 2px 10px black(.25));
        a {
            @include links($color-base,$color-base,$color-base,$color-base);
            display: block;
            height: 100%;
            position: relative;
        }
        &__img,
        &__desc {
            float: left;
        }
        &__img {
            width: 35%;
            img {
                max-width: 100%;
            }
        }
        &__desc {
            width: 65%;
            padding: 15px;
            @include font-size(1.2);
        }
        &__title {
            @include font-size(1.5);
        }
        &__total {
            background-color: $color-success;
            display: inline-block;
            padding:  3px 5px 2px;
            @include border-radius(4px);
            color: $color-white;
        }
        &__offer {
            width: 100%;
            background-color: $color-10;
            @include border-radius(4px);
            font-size: 0;
            display: table;
            line-height: 1;
            &-title,
            &-price {
                @include font-size(1.2);
                display: table-cell;
                vertical-align: middle;
            }
            &-title {
                width: 35%;
                padding: 10px;
            }
            &-price {
                background-color: $color-brand-secondary;
                @include border-radius(0 4px 4px 0);
                padding: 10px;
            }
            &-rate {
                @include font-size(1.8);
                font-weight: 500;
                color: $color-brand;
            }
        }
    }
}
