.cruise-search {
    background-color: $color-brand-secondary;
    padding: 6px;
    color: $color-40;

    &__wrap {
        >li {
            position: relative;
            margin-bottom: 6px;
        }
    }

    &__search-icon {
        position: absolute;
        @include centerer(false, true);
        left: 10px;
    }

    .form-control {
        @include font-size(1.2);
        text-align: center;
    }

    .row {
        &--half {
            margin-left: -3px;
            margin-right: -3px;

            .col-xs-6,
            .col-xs-4 {
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    }

}

.search {
    &-inner {
        background-color: $color-brand-secondary;
        padding: 10px;
        &__form {
            position: relative;
            input {
                @include border-radius(4px 4px 0 0);
            }
        }
        &__action {
            background-color: $color-10;
            @include font-size(1.2);
            padding: 10px;
            margin: 0;
            &>li {
                margin: 0 0 5px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    &-control {
        padding: 10px;
        &__wrap {
            overflow: hidden;
            margin-left: -5px;
            margin-right: -5px;
            &>li {
                width: 50%;
                float: left;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 0;
            }
        }
        &__filter {
            background-color: $color-white;
            height: 35px;
            @include border-radius(4px);
            display: block;
            padding: 7px 10px;
        }
    }
    &-list {
        padding: 10px;
        &__card {
            &>li {
                margin-bottom: 10px;
            }
        }
        .link-primary {
            color: $color-brand !important;
        }
    }
}
