.cruise-search {
    background-color: $color-brand-secondary;
    padding: 6px;
    color: $color-40;

    &__wrap {
        >li {
            position: relative;
            margin-bottom: 6px;
        }
    }

    &__search-icon {
        position: absolute;
        @include centerer(false, true);
        left: 10px;
    }

    .form-control {
        @include font-size(1.2);
        text-align: center;
    }

    .row {
        &--half {
            margin-left: -3px;
            margin-right: -3px;

            .col-xs-6,
            .col-xs-4 {
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    }

}
