.d {
    &-block {
        display: block;
    }

    &-inline {
        display: inline;
    }

    &-inline-block {
        display: inline-block;
    }
}

.align {
    &-baseline {
        vertical-align: baseline;
    }

    &-top {
        vertical-align: top;
    }

    &-middle {
        vertical-align: middle;
    }

    &-bottom {
        vertical-align: bottom;
    }

    &-text-top {
        vertical-align: text-top;
    }

    &-text-bottom {
        vertical-align: text-bottom;
    }
}

.label {
    padding: 4px 8px;
    @include border-radius(0);
}

.truncate {
    &--1-line {
        @include ellipsis(20px, 1);
    }

    &--2-line {
        @include ellipsis(50px, 2);
    }

    &--3-line {
        @include ellipsis(70px, 3);
    }
}

.icon-holder {
    line-height: 1;
    position: relative;

    &--lg {
        width: 75px;
        height: 75px;
    }

    &--md {
        width: 50px;
        height: 50px;
    }

    &--sm {
        width: 35px;
        height: 35px;
    }

    i {
        @include centerer(true, true);
    }
}

.rounded {
    @include border-radius(4px);

    &-top {
        @include border-radius(4px 4px 0 0);
    }

    &-right {
        @include border-radius(4px 0 0 4px);
    }

    &-bottom {
        @include border-radius(0 0 4px 4px);
    }

    &-left {
        @include border-radius(0 4px 4px 0);
    }

    &-circle {
        @include border-radius(100%);
    }

    &-0 {
        @include border-radius(0);
    }
}

// Grid no Gutters [Bootstrap]
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

// Coverting BS grid to Table
.row--table {
    @include vertical-center-tbl(100%);
}

// BG Cover
.full-screen {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


// Link Colors
.link {
    &-white {
        @include links($color-white, $color-white, $color-white, $color-white);
    }
    &-black {
        @include links($color-black, $color-black, $color-black, $color-black);
    }
    &-primary {
        @include links($color-brand, $color-brand, $color-brand, $color-brand);
    }
    &-brand-secondary {
        @include links($color-brand-secondary, $color-brand-secondary, $color-brand-secondary, $color-brand-secondary);
    }
}


// Typo Color
.text {
    &-black {
        color: $color-black;
    }
    &-white {
        color: $color-white;
    }
    &-brand {
        color: $color-brand;
    }
    &-brand-secondary {
        color: $color-black;
    }
    &-11 {
        @include font-size(1.1);
    }
    &-12 {
        @include font-size(1.2);
    }
    &-13 {
        @include font-size(1.3);
    }
    &-14 {
        @include font-size(1.4);
    }
    &-15 {
        @include font-size(1.5);
    }
    &-16 {
        @include font-size(1.6);
    }
    &-18 {
        @include font-size(1.8);
    }
    &-20 {
        @include font-size(2);
    }
    &-25 {
        @include font-size(2.5);
    }
    &-30 {
        @include font-size(3);
    }
    &-35 {
        @include font-size(3.5);
    }
}
