.#{$global} {
    &-footer {
        &__copyright {
            background-color: $color-brand;
            padding: 10px 15px;
            color: $color-white;
            @include font-size(1.2);
        }
    }
}
